// scss file
:root {
  --background-color: #fff;
  --background-light: #fff;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --primary-color: rgb(255, 0, 86);
  --text-color: #0a0a0a;
  --text-light: #575757;
  --font-size: 16px;
  --animation-speed: 1;
}

// function for the transformation animation
@function getAnimationDuration($duration: number){
  @return calc($duration * var(--animation-speed));
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: var(--font-size);
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  padding-inline: 15vw;
}

@import "partials/navbar-slidebar";

@import "partials/animations.scss";


@media screen and (max-width:768px) {
  .navbar{
    .nav-links{
      display:none;
    }
    .sidebar-btn{
      display: block;
    }
  }  
}
